<div class="panel">
  <h3>{{selectedBeer?.name}} by {{selectedBeer?.brewery}}</h3>
  <hr>
  <h4>ABV: {{selectedBeer?.abv}} &#8226; IBU: {{selectedBeer?.ibu}} &#8226; Type: {{selectedBeer?.type}}</h4>
    <p>{{selectedBeer?.description}}</p>
    <div *ngIf="drank">
      <button (click)="makePost()" class="btn btn-secondary">I drank this beer</button>
      <button *ngIf="wish" (click)="addToWish()" class="btn btn-secondary">I want to drink this beer</button>
    </div>

    <app-add-post [add]="add" [selectedBeer]="selectedBeer" [currentUser]="currentUser" (endAdd)=endAdd()></app-add-post>
</div>
