<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Untappd</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li class="navbar-brand"><a class="nav-link" routerLink="">Home</a></li>
        <li class="navbar-brand"><a class="nav-link" routerLink="">Discover</a></li>
        <li class="navbar-brand"><a class="nav-link" routerLink="">My page</a></li>
        <input #searchFunction placeholder="Search">
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-7">
          <app-timeline></app-timeline>
        </div>
        <div class="col-md-4">
          <app-user-module></app-user-module>
          <app-wishlist></app-wishlist>
        </div>
      </div>
    </div>
  </body>
</html>
