<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Untappd</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>Home</li>
        <li>Discover</li>
        <li>My page</li>
        <input #searchFunction placeholder="Search">
      </ul>
    </nav>
    <div class="row">
      <div class="col-md-8">
        <app-timeline></app-timeline>
      </div>
      <div class="col-md-4">
        <app-user-module></app-user-module>
        <app-wishlist></app-wishlist>
      </div>
    </div>
  </body>
</html>
