<div class="panel">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-11">
      <h3>{{selectedBrewery?.name}}</h3>
      <p>{{selectedBrewery?.address}}</p>
      <p>{{selectedBrewery?.city}}, {{selectedBrewery?.state}} {{selectedBrewery?.zip}}</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <ul>
      <li *ngFor="let beer of selectedBrewery.beers" (click)="goToBeer(beer)">{{beer}}</li>
    </ul>
  </div>
</div>
<button class="btn btn-success" (click)="showAdmin()">Add New Beer</button>
<div *ngIf="admin">
  <app-add-beer></app-add-beer>
  <button class="btn btn-secondary" (click)="hideAdmin()">Hide</button>
</div>
