<div class="row">
  <div class="col-md-1">
    <!-- EMPTY -->
  </div>
  <div class="col-md-6 panel">
    <div class="form-control" id="user-post">
      <h4>What are you drinking?</h4>
      <div class="form-row">
        <div class="col-md-6">
          <label>Brewery</label>
          <br><select class="form-control" name="brewery" [(ngModel)]="parameter" [(ngModel)]="userPost.brewery">
            <option disabled selected>Which brewery?</option>
            <option *ngFor="let brewery of breweryList" [value]="brewery.name">{{brewery.name}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label>Beer</label>
          <br><select class="form-control" name="beers" [(ngModel)]="userPost.beerOption">
            <option disabled>Which beer?</option>
            <option *ngFor="let beer of beerList | filter: parameter" [value]="beer.name">{{beer.name}}</option>
          </select>
        </div>
      </div>
      <br><label>How would you rate it?</label>
      <br><div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [value]="1" name="rating" id="radio1" [(ngModel)]="userPost.rating">
        <label class="form-check-label" for="radio1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [value]="2" name="rating" id="radio2" [(ngModel)]="userPost.rating">
        <label class="form-check-label" for="radio2">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [value]="3" name="rating" id="radio3" [(ngModel)]="userPost.rating">
        <label class="form-check-label" for="radio3">3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [value]="4" name="rating" id="radio4" [(ngModel)]="userPost.rating">
        <label class="form-check-label" for="radio4">4</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [value]="5" name="rating" id="radio5" [(ngModel)]="userPost.rating">
        <label class="form-check-label" for="radio5">5</label>
      </div>
      <br><label>What do you think of it?</label>
      <br><textarea #newBody rows="4" cols="80" placeholder="Speak your mind!" class="form-control"></textarea>
      <br><label>Where are you drinking?</label>
      <br><input #newLocation class="form-control" placeholder="Watering hole!">
      <br><button class="btn btn-light" (click)="createPost(newBody.value, newLocation.value)">Post</button>
    </div>
    <div *ngFor="let post of userPostList">
      <h4>{{currentUser.name}} is drinking {{post.beerOption}} by {{post.brewery}} at {{post.location}}</h4>
      <p>Rating: {{post.rating}} out of 5</p>
      <p>{{post.body}}</p>
      <!-- <img *ngFor="let image of post.images" src="{{image}}" alt="picture"> -->
      <button (click)="editPost(post)">Edit Post</button>
      <app-edit-post *ngIf="selectedPost === post" [selectedPost]="selectedPost" (endEdit)="endEdit()"></app-edit-post>
    </div>
    <div class="col-md-4">
      <app-user-module></app-user-module>
      <app-wishlist [currentUser]="currentUser"></app-wishlist>
    </div>
    <div class="col-md-1">
      <!--  -->
    </div>
</div>
