<div class="row">
  <div class="col-md-1">
<!--  -->
  </div>
  <div class="col-md-7 panel">
    <form class="form-control" id="user-post">
      <h4>What are you drinking?</h4>
      <div class="form-row">
        <div class="col-md-6">
          <select class="form-control" name="brewery" [(ngModel)]="parameter">
            <option disabled selected>Which brewery?</option>
            <option *ngFor="let brewery of breweryList" [value]="brewery.name">{{brewery.name}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <select class="form-control" name="beers">
            <option disabled>Which beer?</option>
            <option *ngFor="let beer of beerList | filter: parameter">{{beer.name}}</option>
          </select>
        </div>
      </div>
      <br><input #postContent placeholder="How was it?" class="form-control">
      <br>
      <button class="btn btn-light">Post</button>
    </form>
    <div *ngFor="let post of userPostList">
      <h4>{{currentUser.name}} is drinking {{post.beerOption}} by {{post.brewery}} at {{post.location}}</h4>
      <p>Rating: {{post.rating}} out of 5</p>
      <p>{{post.body}}</p>
      <!-- <img *ngFor="let image of post.images" src="{{image}}" alt="picture"> -->
    </div>
  </div>
  <div class="col-md-4">
    <app-user-module></app-user-module>
    <app-wishlist [currentUser]="currentUser"></app-wishlist>
  </div>
</div>
