<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-7">
    <div *ngFor="let post of userPostList">
      <h4>{{currentUser.name}} is drinking {{post.beerOption}} by {{post.brewery}} at {{post.location}}</h4>
      <p>Rating: {{post.rating}} out of 5</p>
      <p>{{post.body}}</p>
      <!-- <img *ngFor="let image of post.images" src="{{image}}" alt="picture"> -->
    </div>
  </div>
  <div class="col-md-4">
    <app-user-module></app-user-module>
    <!-- <app-wishlist [currentUser]="currentUser"></app-wishlist> -->
  </div>
</div>
