/* imported assets */
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Roboto")
/* HTML TAG STYLES*/
*{
  padding: 0px;
}
body{
  background-color: #dddddd!important;
}
a:hover{
  color: #eeeeee!important;
}
a.nav-link{
  padding-top: 20px!important;
}
img {
  max-width: 700px;
}
img#user-icon{
  max-width: 50px;
  float: left;
}
ul{
  list-style-type: none;
}
/* CLASS STYLES*/
.logo{
  font-family: 'Bungee Inline', sans-serif!important;
  font-size: 40px!important;
}
.bg-dark{
  background-color: #40e0d0!important;
}
.nav-link{
  color: #262626!important;
  font-family: "Roboto", sans-serif;
  position: relative!important;
  display: block!important;
  float: left;
}
.container-fluid{
  margin-top: 5vh;
  height: 100vh;
}
.panel{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
